doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom 
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header 
            h1 Noom
        main
            div#welcome  
                form
                    input(placeholder="방 이름", required, type="Text")
                    button 방 입장
                h4 공개방:
                ul
            div#room  
                h3 
                ul
                form#name
                    input(placeholder="이름", required, type="Text")
                    button 저장
                form#msg
                    input(placeholder="메세지", required, type="Text")
                    button 보내기
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 